body{
  background-color: #c3b86b;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header img{
  width: 100%;

} 


.links{
  widows: 100%;
  height: 800px;
  background-color: #736a46;
  border: 20px dashed #d8cd7f;
  margin: 30px;
  padding: 30px;
  color: white;

}
.card{
  background-color: #867e56;
  widows: 100%;
  height: 800px;
  border: 20px dashed #ceccc0;
  margin: 30px;
  padding: 30px;
  color: white;

}
.video_plaeholder{
  background-color: #d8cd7f;
}
#button{
  width: 100%;
  height: 60px;
  background-color: #d8cd7f;
  border: 0px;
  color: white;
}